@font-face {
  font-family: 'Ambroise';
  src: url('/ambroise-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AbrilFatface';
  src: url('/AbrilFatface-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ambroise', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Roboto', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --royalBlue: rgb(37, 51, 109);
  --primaryTextColor: #fabf00;
  --secondaryTextColor: #fffaf1;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--royalBlue);
  color: var(--primaryTextColor);
  min-width: 320px;
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}